<ion-header class="ion-no-border">
  <ion-toolbar class="tool">
    <div class="ali">
      <ion-img (click)="route()" class="logo" src="../../assets/oraxol.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="black">
  
  <ion-card class="card">
    <ion-card-title class="ion-padding-bottom title">{{name}}</ion-card-title>
    <ion-img src="../../assets/resonate-3.png"></ion-img>
  </ion-card>


  <div class="dik" *ngFor="let res of resonate">
  <ion-card class="sample">
    <ion-img class="pic" [src]="res" alt="resonate"></ion-img>
  </ion-card>
</div>

</ion-content>
