ion-toolbar{
  --background:#161616;
}

.logo{
  height: 50px;
  width: 50x;
  justify-content: start;
  align-items: start;
  padding-right: 280px;
}

.menu{
  position: relative;
  bottom: 45px;
  left: 330px;
  // border: 1px solid #ffffff;
  // border-radius: 20px;
}

.ti{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

ion-menu-button{
  --color:#ffffff;
}

ion-content{
  --background:#161616 ;
}

.title{
  position: relative;
  top: 10px;
  left: 27px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.t1{
  position: relative;
  top: -24px;
}

.tempt {
  height: 100px;
  width: 150px
}

ion-grid{
  position: relative;
  left: 8px;
}

.info{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

ion-list{
  background-color:#ffffff ;
  border-radius: 16px;
}


ion-item {
  --background:#ffffff ;
  --color:#161616;
  border-radius: 16px;

}

ion-icon{
  padding-top: 8px;
  padding-left: 8px;
  height: 40px;
  width: 40px;
}

.edit {
  --color: #161616;
  --background: #ffffff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 200px;
}

.ed{
  padding-top: 8px;
  margin-top: 24px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

.edit-con{
  --background: #ffffff;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #161616;
  --color-checked: #161616;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;

}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #161616;
}
